.idea/
**/.terraform/
*.terraform/
**/.terraform.lock.hcl*
**/terraform.tfstate*
**/terraform.tfstate.backup*
**/mongodata*
**/venv/
**/__pycache__/
**/pv.egg-info/
**/hydra.restore
**/node_modules/
**/.gcloudignore
**/.settings/
